<%= simple_form_for @cocktail do |f| %>
    <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= @message %></li>
      <% end %>
    </ul>
    <div class="form-inputs">
      <%= f.input :name  %>
      <%= f.input :photo, as: :file %>
    </div>
   <div class="form-actions">
     <%= f.button :submit, class: "btn btn-primary mb-2" %>
   </div>
<% end %>
