<div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')" >
  <%= @cocktail.name %>
</div>

<div class="row">
  <div class="col-lg-6">
    <h3>Description</h3>
    <p>Amazing cocktail!</p>
  </div>

  <div class="col-lg-6">
    <h3>Ingredients</h3>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %> - <%= dose.description %> <%= link_to "(delete)", dose_path(dose), method: :delete %></li>
      <% end %>
    </ul>
  </div>
</div>


